.schedule-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.schedule-card-container {
  height: 70%;
  width: 70%;
  z-index: 1;
}

.table-container {
  max-height: 420px;
  height: 420px;
  overflow: auto;
}

table {
  width: 100%;
}
